html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.main-section {
  height: 100vh;
  .container {
    .side-nav {
      position: fixed;
      float: left;
      width: 300px;
      background-color: #cfedff;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 10px;
      margin: 10px 20px;
      .details {
        text-align: center;
        padding: 20px;
        .image {
          height: 200px;
          width: 200px;
          margin: auto;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }
      }
      .links {
        a {
          display: block;
          margin: 10px 0;
          padding: 5px;
        }
      }
    }
    .content {
      float: right;
      width: calc(100% - 340px);
      margin: 10px;
      .welcome {
        display: flex;
        background: url("../images/image.jpg") no-repeat center;
        overflow: hidden;
        border-radius: 10px;
        color: #fff;
        .center-content {
          height: fit-content;
          margin: auto;
          text-align: center;
          font-size: 2rem;
          background: #00000099;
          padding: 20px 30px;
          border-radius: 5px;
        }
      }
      .sections {
        margin-top: 20px;
        padding: 20px 40px;
        &#my-tools {
          .tools-list {
            img {
              height: 120px;
              width: 120px;
              margin: 30px;
            }
          }
        }
      }
    }
  }
}
